.Breadcrumb-navbar:empty {
    display: none;
}

.Breadcrumb-navbar {
    position: absolute;
    top: 8px;
    left: 150px;
    background-color: #fff;
}

.sidebar-is-open .Breadcrumb-navbar {
    left: 90px;
}