.Omnibox {
    position: absolute;
    left: 300px;
    right: 300px;
    top: -5px;
    bottom: auto;
    z-index: 5;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.slide-enter {
    top: -105px;
}

.slide-enter.slide-enter-active {
    top: -5px;
    transition: top 300ms ease-in;
}

.slide-leave {
    top: -5px;
}

.slide-leave.slide-leave-active {
    top: -105px;
    transition: top 300ms ease-in;
}