.Omnibox {
    position: absolute;
    left: 400px;
    right: 400px;
    top: -5px;
    bottom: auto;
    z-index: 5;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.Omnibox__slide-enter {
    top: -105px;
}

.Omnibox__slide-enter.Omnibox__slide-enter-active {
    top: -5px;
    transition: top 300ms ease-in;
}

.Omnibox__slide-leave {
    top: -5px;
}

.Omnibox__slide-leave.Omnibox__slide-leave-active {
    top: -105px;
    transition: top 300ms ease-in;
}

@media (max-width: 1024px) {
    .Omnibox {
        left: 200px;
        right: 200px;
    }
}