.Omnibox {
    position: absolute;
    left: 300px;
    right: 300px;
    top: -5px;
    bottom: auto;
    z-index: 5;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}