/* Overrides bootstrap */

.navbar-toggle {
    float: left;
}

@media (min-width: 768px) {
    .navbar-toggle {
        display: block;
    }
}

.slide-enter {
    top: -105px;
}

.slide-enter.slide-enter-active {
    top: -5px;
    transition: top 300ms ease-in;
}

.slide-leave {
    top: -5px;
}

.slide-leave.slide-leave-active {
    top: -105px;
    transition: top 300ms ease-in;
}